In [1]:
import pandas as pd

In [3]:
sal_det=pd.DataFrame({'Salary':[1000,50000,15000,2000],'cat':['Low','High','Mid','Low']})

In [4]:
sal_det

   Salary   cat
0    1000   Low
1   50000  High
2   15000   Mid
3    2000   Low

In [6]:
sal_det.cat.map({'Low':1,'Mid':2,'High':3})

0    1
1    3
2    2
3    1
Name: cat, dtype: int64

In [7]:
order=['Mid','High','Low']